[project]
name = "COMPASS_UC3"
version = "0.1.0"
description = "This environment is for running scripts for the COMPASS UC3 for Mozambique tropical cyclones"
authors = [
    "Natalia Aleksandrova <natalia.aleksandrova@deltares.nl>",
    'Anais Couasnon <anais.couasnon@deltares.nl>',
    'Doris Vertegaal <doris.Vertegaal@deltares.nl>',
]
channels = ["conda-forge","bioconda", "bioconda"]
platforms = ["win-64","linux-64"]
readme = "README.md"
license = "MIT"
license-file = "LICENSE"
homepage = "https://github.com/Deltares-research/COMPASS"
documentation = "https://github.com/Deltares-research/COMPASS"
repository = "https://github.com/Deltares-research/COMPASS"

[tasks]

[dependencies]
jupyterlab = ">=4.2.1,<4.3"
ipykernel = ">=6.29.5,<7"
pip = ">=25.0.1,<26"
hydromt_wflow = ">=0.4.1,<0.9"
hydromt = ">=0.9.3,<0.11"
xarray = ">=2024.3.0,<2026"
zarr = "<3"
numba = ">=0.59.0,<0.62"
contextily = ">=1.7.0,<2"
matplotlib-scalebar = ">=0.9.0,<0.10"
ffmpeg = ">=7.1.1,<9"
# descartes = ">=1.1.0" 
# cftime = ">=1.6.4"

[feature.py311.dependencies]
python = "3.11.*"

[feature.dataviz.dependencies]
ffmpeg = ">=7.0.0" 
cartopy = ">=0.20.0" 
matplotlib = ">=3.8.4,<3.9" 

[feature.fiat.dependencies]
gdal = "*"
delft_fiat = "*"
matplotlib = "*"
toml = "*"

[feature.sfincs.dependencies]
hydromt = ">=0.10.0"
hydromt_sfincs = ">=1.2.0"
numba = "=0.59.0"
rasterio = "=1.3.11"
libgdal-hdf5 = "*"
cartopy = "*"

[feature.wflow.dependencies]
hydromt = ">=0.10.0"
hydromt_wflow = ">=0.7.0"
pyflwdir = ">=0.5.8"

[feature.wflow_extra.pypi-dependencies]
gwwapi = "*"

[feature.snake.dependencies]
snakemake = ">=8.10.6,<8.11"
graphviz = "*"
pygraphviz = "*"

[feature.cht.pypi-dependencies]
cht-cyclones = "==1.0.3"

[feature.cht_env.dependencies]
hydromt = "==0.9.3"
numpy = "<=2.1"

[feature.dfm.pypi-dependencies]
dfm-tools = "==0.35.0"
copernicusmarine = "==2.0.0"

[feature.snake_dfm.dependencies]
python = ">=3.11"
hydromt = "==0.9.3"
snakemake = "*"
gdal = "*"
netcdf4 = "==1.6.5"
libgdal-netcdf = "*" 
numpy = "==1.26.4"
pyarrow = "==15.0.2"
graphviz = "*"
pygraphviz = "*"
snakemake-executor-plugin-cluster-generic = "*"
zarr = "==2.18.3"

[environments]
default = { features = ["py311"]}
compass-sfincs = { features = ["py311", "sfincs","dataviz"]}
compass-snake-sfincs = { features = ["py311", "sfincs","dataviz","snake","wflow", "wflow_extra"]}
compass-snake-dfm = { features = ["snake_dfm", "dfm", "cht"]}
compass-fiat = { features = ["py311", "fiat", "snake"]}
compass-wflow-sfincs-fiat = { features = ["py311", "sfincs","dataviz","snake","wflow", "wflow_extra", "fiat"]}
compass-cht = { features = ["py311","cht","cht_env"]}
compass-wflow = { features = ["py311", "sfincs","wflow", "wflow_extra", "snake"]}
