setup_basemaps:
  hydrography_fn: merit_hydro       # source hydrography data {merit_hydro, merit_hydro_1k}
  basin_index_fn: merit_hydro_index # source of basin index corresponding to hydrography_fn
  upscale_method: ihu               # upscaling method for flow direction data, by default 'ihu'
  res: 0.00833333                   # the spatial resolution of the model

setup_rivers:
  hydrography_fn: merit_hydro      # source hydrography data, should correspond to hydrography_fn in setup_basemaps
  river_geom_fn: rivers_lin2019_v1 # river source data with river width and bankfull discharge
  river_upa: 100                   # minimum upstream area threshold for the river map [km2]
  rivdph_method: powlaw            # method to estimate depth {'powlaw', 'manning', 'gvf'}
  min_rivdph: 1                    # minimum river depth [m]
  min_rivwth: 30                   # minimum river width [m]
  slope_len: 2000                  # length over which tp calculate river slope [m]
  smooth_len: 5000                 # length over which to smooth river depth and river width [m]
  river_routing: local-inertial    # {'kinematic-wave', 'local-inertial'}

setup_floodplains:
  floodplain_type: 1d              # floodplain type: 1d (1D floodplain) or 2d (2D floodplain) 
  hydrography_fn: merit_hydro      # source hydrography data, should correspond to hydrography_fn in setup_basemaps
  river_upa: 100                    # minimum upstream area threshold for the floodplain map [km2]

setup_reservoirs:
  reservoirs_fn: hydro_reservoirs  # source for reservoirs based on GRAND: {hydro_reservoirs}; None to skip
  timeseries_fn: gww               # additionnal source for reservoir are timeseries to compute reservoirs, Either 'gww' using gwwapi or 'jrc' using hydroengine.
  min_area: 1.0                    # minimum reservoir area to consider [km2] - changed to 10 km for catchments that have difficulties
  #priority_jrc: True              # if True then JRC data from hydroengine is used to calculate some reservoir attributes instead of the GRanD and HydroLAKES db.   

setup_lakes:
  lakes_fn: hydro_lakes            # source for lakes based on hydroLAKES: {hydro_lakes}
  min_area: 10.0                   # minimum reservoir area to consider [km2]

setup_glaciers:
  glaciers_fn: rgi                 # source for glaciers based on Randolph Glacier Inventory {rgi}
  min_area: 1.0                    # minimum glacier area to consider [km2]

setup_lulcmaps:
  lulc_fn: vito                    # source for lulc maps: {globcover, vito, corine}

setup_laimaps:
  lai_fn: modis_lai                # source for LAI: {modis_lai}

setup_soilmaps:
  soil_fn: soilgrids               # source for soilmaps: {soilgrids}
  ptf_ksatver: brakensiek          # pedotransfer function to calculate hydraulic conductivity: {brakensiek, cosby}

setup_outlets:
  river_only: True

setup_config_output_timeseries:
  mapname: wflow_gauges_locs
  toml_output: netcdf
  header: ["Q"]
  param: ["lateral.river.q_av"]

setup_constant_pars:
  Cfmax: 3.75653
  cf_soil: 0.038
  EoverR: 0.11
  InfiltCapPath: 5
  InfiltCapSoil: 600
  MaxLeakage: 0
  rootdistpar: -500
  TT: 0
  TTI: 2
  TTM: 0
  WHC: 0.1
  G_Cfmax: 5.3
  G_SIfrac: 0.002
  G_TT: 1.3

setup_ksathorfrac:
  ksat_fn: ksathorfrac_global  # source for ksat maps - obtained from Random Forest (RF) and Boosted Regression Trees (BRT) methods. see datacatalog description
  variable: RF_250_KsatHorFrac_global